@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ArsenicaMedium;
    src: url(/public/fonts/ArsenicaTrial-Medium.ttf);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
